spring:
  application:
    name: mediplan-api
  data:
    mongodb:
      uri: ${MONGO_URI}
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  security:
    jwt:
      access-expiration-min: 1440  # 24 hours instead of 60 minutes
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: [openid, email, profile]
            redirect-uri: "{baseUrl}/api/auth/google/callback"
          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}
            client-secret: ${FACEBOOK_CLIENT_SECRET}
            scope: [public_profile, email]
            redirect-uri: "{baseUrl}/api/auth/facebook/callback"
        provider:
          facebook:
            authorization-uri: https://www.facebook.com/v20.0/dialog/oauth
            token-uri: https://graph.facebook.com/v20.0/oauth/access_token
            user-info-uri: https://graph.facebook.com/me?fields=id,name,email,picture
            user-name-attribute: id

server:
  port: 8080
  forward-headers-strategy: native
  servlet:
    session:
      cookie:
        secure: true
        same-site: lax
logging:
  level:
    org.springframework.web: INFO
    org.springframework.http.converter.json: INFO


app:
  security:
    jwt:
      access-secret: ${JWT_ACCESS_SECRET:change-me-access}
      refresh-secret: ${JWT_REFRESH_SECRET:change-me-refresh}
      access-expiration-min: 500
      refresh-expiration-days: 7
  oauth:
    redirect-mode: ${APP_OAUTH_REDIRECT_MODE:QUERY}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:https://mediplan-web-c8880005a6eb.herokuapp.com,https://localhost:3000}
  allowed-methods: ${CORS_ALLOWED_METHODS:GET,POST,PUT,PATCH,DELETE,OPTIONS}
  allowed-headers: ${CORS_ALLOWED_HEADERS:Authorization,Content-Type}
  allow-credentials: ${CORS_ALLOW_CREDENTIALS:true}
